geniverse==0.1.8
upscaler==0.0.6
Flask==2.0.3
https://github.com/thegeniverse/taming/archive/master.zip
https://github.com/thegeniverse/clip/archive/main.zip
https://github.com/thegeniverse/glide/archive/main.zip
https://github.com/thegeniverse/u2net/archive/master.zip
-f https://download.pytorch.org/whl/cu113/torch_stable.html torch==1.10.2+cu113 torchvision==0.11.3+cu113
PyJWT==2.3.0
pytest==7.0.1
flake8==3.8.3
black==21.12b0
Sphinx==4.4.0
Flask-Cors==3.0.10
